@import 'src/styles/breakpoints';

.card-set {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 30px 48px;
  margin-bottom: 0;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    justify-content: center;
    margin-top: 54px;
    margin-left: 84px;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    margin: 54px;
    margin-right: 14px;
    margin-bottom: 0;
  }
}
